body {
    background-color: var(--neutral-dark);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao-nft {
    max-width: 270px;
    background-color: var(--neutral-medium);
    border-radius: 8px;
    padding: 12px;
}

img {
    width: 100%;
    border-radius: 8px;
}

/* -------1:35 CONTINUA-------- */