body {
    background-color: var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-nft {
    max-width: 300px;
    background-color: var(--neutral-medium);
    border-radius: 10px;
    padding: 12px;
}

.card-nft .image-link .image{
    width: 100%;
    border-radius: 10px;
}

.card-nft .title-link .title{
    font-size: 22px;
    color: #ffffff;
    margin: 25px 0 20px;
}

.card-nft .about{
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 25px;
}

.card-nft .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.card-nft .info .price{
    color: var(--primary-medium);
    display: flex;
}

.card-nft .info .price::before{
    content: '';
    background-image: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.card-nft .info .days-left{
    color: var(--primary-soft);
    display: flex;
}

.card-nft .info .days-left::before{
    content: '';
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
}

.card-nft .creator{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 20px;
}

.card-nft .creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.card-nft .creator .text{
    color: var(--primary-soft);
}

.card-nft .creator .text .name-avatar{
    color: #ffffff;
}